django
djangorestframework
psycopg2-binary
pillow
django-debug-toolbar
requests
dj-rest-auth
google-auth
requests-oauthlib
djangorestframework-simplejwt
django-filter
gunicorn
django-cors-headers
django-allauth
python-dotenv
whitenoise
pyjwt[crypto]>=2.4
